  .accordion-item {
    border-bottom: 2px solid #ddd;
  }

  .accordion-header {
    border: none;
    padding: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: 700;
    color: #565f5f;
    background: rgba(0, 0, 0, 0);
    max-height: 62px;
  }

  .accordion-header.active {
    background: #003767;
    color: white;
    font-weight: bold;
  }

  .accordion-header.active .accordion-icon {
    transform: rotate(180deg);
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #fafafa;
  }

  .accordion-content-inner {
    padding: 16px;
  }